<section class="text-center">                                                                                                             
  <div class="container">
    <div>
      <h2>About</h2>
      <p><%= link_to X.t("source_code"), X.github_url %></p>
    </div>

    <div>
      <h2>Contact</h2>
      <p><%= X.contact_email %></p>
    </div>
  </div>
</section>
