<h1>Legal klub dyskusyjny</h1>

<p>This website is not intended to be a business venture. Any quality of service cant be expected.</p>

<h2>Privacy Policy</h2>

<p>Version 1</p>

<p>
  Your personal information such as email, name, etc is needed for user accounts.
  It is used only for operating this website and not shared with third parties outside
  what is required to operate this website system.
</p>
<p>
  Your continued use of our website will be regarded as acceptance of our practices
  around privacy and personal information.
  If you have any questions about how we handle user data and personal information,
  feel free to contact us.
</p>

<h2>Terms of Service</h2>

<p>Version 1</p>

<h3>1. Terms</h3>
<p>
  By accessing this website.
  you are agreeing to be bound by these terms of service, all applicable laws and regulations,
  and agree that you are responsible for compliance with any applicable local laws.
</p>
<h3>2. Use License</h3>
<p>
  You may use this website as is possible via user interface.
</p>
<h3>3. Disclaimer</h3>
<p>
  Anything you do on this website, including any data might be modified or deleted without notice or notification. 
</p>
<h3>4. Limitations</h3>
<p>
 In no event shall this website or its suppliers be liable for
 any damages (including, without limitation, damages for loss of data or profit, or due to business interruption)
 arising out of the use or inability to use this website, even if we or authorized representative has been notified orally or in writing
 of the possibility of such damage.
</p>
<h3>7. Modifications</h3>
<p>
  Website may revise these terms of service for its website at any time without notice.
  By using this website you are agreeing to be bound by the then current version of these terms of service.
</p>
<h3>8. Governing Law</h3>
<p>
  These terms and conditions are governed by and construed in accordance with the laws of Poznan, Poland
  and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.
</p>